/*Où est le body?
Comment importer le style?
*/

.App {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.App-header {
  background: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 30px;
}

.container-form {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 40%;
  height: 120px;
  padding: 0 60px 0 60px;
}

button {
  background-color: #001f3f;
  color: white;
  width: 20%;
}
.radio-label1 {
  margin-bottom: 10px;
}

.radio-label2 {
  margin-bottom: 10px;
}

.radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.submit-button {
  margin-top: 30px;
}

.container-image {
  background-color: white;
  border-radius: 10px;
  margin-top: 10%;
  width: 60%;
  height: 140px;
}

.image-buddha {
  margin-top: 40px;
  width: 5%;
  animation: growAndShrink 15s infinite;
}

@keyframes growAndShrink {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(0.2);
  }
}

/* Le logo qui tourne
@keyframes App-logo-spin { 
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
